<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pizza_type.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @pizza_type.price %>
</p>

<%= link_to 'Edit', edit_pizza_type_path(@pizza_type) %> |
<%= link_to 'Back', pizza_types_path %>
